* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    background: #111;
    /* overflow: hidden; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.container{
    width: 100%;
  }

.header{
    font-size: 20px;
    /* color: white; */
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.site-name{ 
    color: white;
    /* border: 1px solid white; */
}

.wrapper{
    display: flex;
}
.slide{
    height: 80vh;
    color: #f1e7d9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
  }

  .wrapper__slide{
    margin: 0 30px;
  }


.timer{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* flex: 1; */
    /* border: 1px solid red; */
}

.timer h2{
    font-size: 30px;
}

/* .timer-region{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .timer-region h3{
    font-size: 100px;
    text-align: center;
    margin: 0px 30px;
} */
.timer__output{
  margin: auto 0 0 0;
  font-size: 2.3em;
  text-align: center;
}


@media (max-width: 900px){
  .timer-region h3{
    font-size: 80px;
  }
}

@media (max-width: 430px){
  .timer-region h3{
    font-size: 65px;
  }
 .timer-buttons{
  display: flex;
 }
  
}

.timer-buttons{
  margin: auto 0;
}


.timer-buttons__button{
    border: none;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 15px;
    color: #f1e7d9;
    background-color: #338f83;
    font-size: 15px;
    font-weight: bold;
    margin: 0 15px;
}

.timer-buttons__button:hover{
  background-color: #80c1b8;
}

.gallery{
    width: 100%;
    display: flex;
    padding: 0 20px;
    /* border: 1px solid red; */
  }

  .gallery__slide{
    height: 50vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #f1e7d9;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out ;
  }

  .gallery__slide h3{
    position: absolute;
    font-size: 24px;
    bottom: 5px;
    left: 10px;
    margin: 0;
  }

  @media (max-width: 900px){
    .gallery__slide h3{
      font-size: 18px;
    }
  }

  @media (max-width: 740px){
    .gallery__slide h3{
      font-size: 18px;
      opacity: 0;
    }
    .gallery__slide.--active h3{
      opacity: 1;
       transition: opacity .3s ease-in .4s;
    }
  }

  .gallery__slide.--active{
    flex: 3;
  }

  .footer{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
  }
