* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    background: #111;
    /* overflow: hidden; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.container{
    width: 100%;
  }

.header{
    font-size: 20px;
    /* color: white; */
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.site-name{ 
    color: white;
    /* border: 1px solid white; */
}

.wrapper{
    display: flex;
}
.slide{
    height: 80vh;
    color: #f1e7d9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    margin: 0 30px;
    border-radius: 20px;
  }


.timer{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* flex: 1; */
    /* border: 1px solid white; */
}

.timer h2{
    font-size: 30px;
}

.timer-region{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.timer-region h3{
    font-size: 100px;
}

.button{
    border: none;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 15px;
    color: #f1e7d9;
    background-color: #338f83;
    font-size: 15px;
    font-weight: bold;
    margin: 0 15px;
}

.gallery{
    width: 100%;
    display: flex;
    padding: 0 20px;
    /* border: 1px solid red; */
  }

  .gallery-slide{
    height: 50vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #f1e7d9;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .gallery-slide h3{
    position: absolute;
    font-size: 24px;
    bottom: 5px;
    left: 10px;
    margin: 0;
  }

  .footer{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
  }
